body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f5f9f6;
  color: #333;
  background-image: url("/lab-bem-viver/images/arvores.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: #3b7a57;
  color: rgb(225, 255, 0);
  padding: 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #FFFF00;
}

header h2 {
  margin: 0.5rem 0 0;
  font-weight: 300;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

main img {
  width: 100%;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.texto {
  color: #256;
  /* Define a cor de fundo com transparência */ /* Exemplo: branco (255, 255, 255) com 70% de opacidade (0.7) */
   background-color: rgba(255, 255, 255, 0.7); /* Adiciona um espaço interno para que o texto não "grude" nas bordas */
   padding: 20px; /* Opcional: arredonda as bordas do fundo */ 
   border-radius: 10px;
}
